# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
.next/
out/

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docs
README.md

# Env (build args will be used instead)
.env*.local
